<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>FUNDOO</mat-card-title>
      <mat-card-subtitle>Register Page</mat-card-subtitle>


      <mat-form-field appearance="outline">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="enter first name" [(formControl)]="FirstName" required>
        <mat-error *ngIf="firstName.hasError('required')">mandatory</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="enter last name" [(formControl)]="LastName" required>
        <mat-error *ngIf="lastName.hasError('required')">mandatory</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>

        <input matInput placeholder="enter Phone Number" [(formControl)]="phonenum" required>
        <mat-icon matSuffix>call</mat-icon>
        <mat-error *ngIf="phoneNumber.hasError('required')">mandatory</mat-error>
      </mat-form-field>



      <mat-form-field appearance="outline">
        <mat-label>Email-id</mat-label>
        <input matInput placeholder="enter email" [(formControl)]="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.hasError('required')">mandatory</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <input matInput placeholder="enter Password " [(formControl)]="password" required>
        <mat-error *ngIf="password.hasError('required')">mandatory</mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <a class="refReg" mat-button color="primary" routerLink="../login">Login</a>

    </div>


    <div class="button" fxLayout="row" fxLayoutAlign="center center">
      <button mat-rised-button class="primary" (click)="register ()">Register</button>
    </div>
    <div>
      <mat-error fxLayoutAlign="center center">{{message}}</mat-error>
    </div>
  </mat-card>

</div>