
<div>
    <div>
    <mat-card class="card">
    <mat-card class="card">
      <mat-form-field appearance="outline">
        <mat-label>Email-id</mat-label>
        <input matInput placeholder="enter email id">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password">
          <mat-icon matSuffix></mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-card>
      </div>
    </mat-card>
</div>