<div>

  <mat-dialog-content>

    <mat-label class="spantext">Edit Labels</mat-label>

    <div>

      <!-- <button mat-icon-button class="btnclose"> -->

      <mat-icon style="margin-left: 19px;margin-top: 5px;" class="icon">close</mat-icon>

      <!-- </button> -->

      <input class="labelname" appearance="null" type="text" placeholder="Create new label" [formControl]="labelname" />

      <button mat-icon-button class="btnclose" (click)="closes()">

        <mat-icon class="icon" style="margin-bottom: 13px;">check</mat-icon>

      </button>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>

    <mat-nav-list>

      <a mat-list-item role="listitem" *ngFor="let item of labels" class="notes">


        <mat-icon class="labelicon" routerLinkActive="mat-accent">

          label

        </mat-icon>

        <mat-icon class="delete" (click)="deleteLabel(item.id)" routerLinkActive="mat-accent">

          delete

        </mat-icon>

        <span class="labelname">

          <!-- {{item.labelname}}? -->

          <input matInput (click)="checkfunction()" [formControl]="updateLabel" value="{{item.labelname}}" appearence="null">

        </span>

        <div fxLayoutGap="-10px">

          <mat-icon class="editicon" routerLinkActive="mat-accent">

            edit

          </mat-icon>

          <mat-icon class="checkicon" (click)="editLabel(item.id)" routerLinkActive="mat-accent">

            check

          </mat-icon>

        </div>

      </a>

    </mat-nav-list>

  </mat-dialog-actions>

  <mat-divider class="divider"></mat-divider>

  <div>

    <button mat-flat-button style="background-color: transparent;margin-top:20px;margin-bottom:20px;margin-right:20px;margin-left: 200px;"
      (click)="closeslabel()">

      close

    </button>

  </div>

</div>