<div fxLayout="row" fxLayoutAlign="center center" height="100vh">

  <mat-card fxFlex="30" fxFlex.sm="30" fxFlex.xs="100">
    <br>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title font-size="35px" font-family="fantasy" color="primary">F U N D O O</mat-card-title>
      <mat-card-subtitle font-size="15px" font-family="fantasy">Session Expired Page</mat-card-subtitle>
      <br>
      <label>Session has expired</label><br />

    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <a mat-button color="primary" routerLink="../login">click here to go back to login page</a>
    </div>
  </mat-card>

</div>