<div *ngIf="flag===true" (click)="reverseFlag()" fxLayout="row wrap" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="mainmat" fxLayout="column" fxLayoutAlign="center center">
  
      <div fxLayoutAlign="end start" style=" border-top-width: 0px;">
        <!-- <mat-form-field class="inputtaker" appearance="null"> -->
        <input style="font-size: 55px;margin-top: 15px;appearance : null;
            font-family: 'Google Sans',Roboto,Arial,sans-serif;
            font-size: 1rem; color: #646161; border: none;"
          placeholder="Take a note..." />
        <!-- </mat-form-field> -->
  
        <span></span>
        <div style="margin-left: 250px;">
          <button mat-icon-button>
            <mat-icon matTooltip="New List" class="cardicon">check_box</mat-icon>
          </button>
  
          <button mat-icon-button>
            <mat-icon matTooltip="Drawing is not available" class="cardicon">brush</mat-icon>
          </button>
  
          <button mat-icon-button>
            <mat-icon matTooltip="New note with image" class="cardicon">insert_photo</mat-icon>
          </button>
        </div>
      </div>
  
    </mat-card>
  </div>
  
  <div *ngIf="flag===false">
    <mat-card class="notes">
  
      <input style="width: 91%;margin-left: 10px;margin-bottom: 10px;appearance : null;margin-top: 15px;height: 30px; border: none; font-size: 16px;"
        class="cardicon" [formControl]="title" matInput placeholder="Title" />
      <button style="padding-top: 5px;" mat-icon-button>
        <mat-icon style="margin-left: 0px;margin-top: -43px;" matSuffix class="cardicon"><img src="../../assets/img/fundoAssests/pin.svg"
            style="    color: rgb(87, 86, 86);
  
          width: 26px;
          padding-top: 15px;
      " /></mat-icon>
      </button>
      <input style=" width: 91%;margin-left: 10px;margin-bottom: 10px;appearance : null;margin-top: 15px;height: 30px; border: none;font-size: 18px; "
        matInput class="cardicon" [formControl]="takeANote" matTextareaAutosize placeholder="Take a note" />
  
      <div>
  
        <button mat-icon-button matTooltip=" Remaind me " [matMenuTriggerFor]="remainder">
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/remainder.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
  
        <mat-menu [overlapTrigger]="false" #remainder="matMenu">
          <button mat-menu-item>Remainder:</button>
          <button mat-menu-item (click)="today(01)">Later today 8:00PM</button>
          <button mat-menu-item (click)="tomorrow(01)">Tomorrow 8:00PM</button>
          <button mat-menu-item (click)="nextWeek(01)">
            Next week Mon,8:00pm
          </button>
        </mat-menu>
        <span></span>
        <button mat-icon-button>
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/person.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
        <span></span>
        <button mat-icon-button>
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/colorlens.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
        <span></span>
        <button mat-icon-button>
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/photo.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
        <span></span>
        <button mat-icon-button>
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/archive2.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
        <span></span>
        <button mat-icon-button>
          <mat-icon matTooltip="New note with image" class="cardicon"><img src="../../assets/img/fundoAssests/more.svg "
              style="    color: rgb(87, 86, 86);" /></mat-icon>
        </button>
        <span></span>
        <button mat-flat-button (click)=" reminder ()" style="margin-left: 290px;" class="cardicon">Close</button>
        <span></span>
        <span></span>
      </div>
  
      <!-- <div>
  
        </div> -->
    </mat-card>
  </div>
  <div style="max-width:700px; max-height:50px;">
    <mat-grid-list cols="3" rowHeight="3:1" class="noteslist" *ngFor="let n of notelist">
      <mat-card class="gridcard">{{ n.title }}
        <p style="font-size: 17px;">{{ n.takeANote }}</p>
  
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px;">
  
          <button mat-icon-button matTooltip=" Remaind me " [matMenuTriggerFor]="remainder" class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/remainder.svg " style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
          <mat-menu [overlapTrigger]="false" #remainder="matMenu">
            <button mat-menu-item>Remainder:</button>
            <button mat-menu-item (click)="today(n)">Later today 8:00PM</button>
            <button mat-menu-item (click)="tomorrow(n)">Tomorrow 8:00PM</button>
            <button mat-menu-item (click)="nextWeek(n)">
              Next week Mon,8:00pm
            </button>
          </mat-menu>
          <button mat-icon-button class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/person.svg " style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
  
          <button mat-icon-button class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/colorlens.svg " style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
  
          <button mat-icon-button class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/photo.svg " style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
  
          <button mat-icon-button class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/archive2.svg " style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
          <button mat-icon-button class="cardmaticon">
            <mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/more.svg "
                [matMenuTriggerFor]="more" style="    color: rgb(87, 86, 86);" /></mat-icon>
          </button>
          <mat-menu [overlapTrigger]="false" #more="matMenu">
            <button mat-menu-item (click)="deleteNote(n)">Delete note</button>
            <button mat-menu-item (click)="tomorrow(01)">Add label</button>
            <button mat-menu-item (click)="nextWeek(01)">
              Add drawing
            </button>
            <button mat-menu-item (click)="nextWeek(01)">
              Make a copy
            </button>
            <button mat-menu-item (click)="nextWeek(01)">
              Show tick boxes
            </button>
            <button mat-menu-item (click)="nextWeek(01)">
              Copy to Google Docs
            </button>
            </mat-menu>
        </div>
      </mat-card>
    </mat-grid-list>
  </div>
  
  
  
  <!-- 
  </div>
  <div *ngIf="flag===true" (click)="reverseFlag()" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">
      <mat-card fxFlex="45" fxFlex.xs='100' class="matcard" fxLayoutAlign="space-between center"style="padding-bottom:0px;padding-top:0px">
  
        <div data-text="Take a note.." class="Border" id="noteTitle" fxLayout="column" contenteditable="true" class="maincard">
        </div>
  
        <div fxLayout="row" fxLayoutAlign="end start" >
          <button mat-icon-button><mat-icon class="check" matTooltip="New List">check_box</mat-icon></button>
  
          <button mat-icon-button><mat-icon class="brush" matTooltip="Drawing is not available">brush</mat-icon></button>
  
          <button mat-icon-button><mat-icon class="insert" matTooltip="New note with image">insert_photo</mat-icon></button>
  
        </div>
  
      </mat-card>
    </div> -->
  
  
  <!-- 
    <div *ngIf="flag===false" fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100">
  
      <mat-card fxLayout="column" class="matcard" fxFlex="45" fxFlexOffset.xl="20" fxFlex.xs='97' [style.backgroundColor]="bgcolor">
        <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs='97' fxLayout='row' fxLayoutAlign="space-between center">
          <div class="Border" fxLayout="column" class="takenote">
            <textarea class="textArea" matTextareaAutosize placeholder="Title" [formControl]="noteTitle" ></textarea>
            </div>
  
          <div fxLayout="row">
            <button mat-icon-button color="basic" (click)="ispinned()">
              <div class="barpin" *ngIf="flag1==true">
  
                <img src="../../../assets/images/pin_bar.svg" />
  
              </div>
              <div class="barpin" *ngIf="flag1==false">
  
                <img src="../../../assets/images/unpin_bar.svg" />
              </div>
            </button>
          </div>
        </div>
  
        <div class="Border" fxLayout="column" class="takenote">
          <textarea class="textArea" matTextareaAutosize placeholder="Take a note.. " [formControl]="noteContent"></textarea>
        </div><br>
        <div>
          <div fxFlex='90'>
            <app-icon-list (messageEvent)="recievemessage($event)" [type]=note [more]=note> </app-icon-list>
  
          </div>
          <div fxFlex='10' fxLayoutAlign="end end">
            <button fxLayoutAlign='end end' class="addnote" mat-button (click)="addNote()">close</button>
          </div>
        </div>
  
      </mat-card>
    </div> -->                          