<div fxLayout="row wrap" fxLayoutAlign="center center" style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; width: 1000px;margin-left: 65px;">

  <mat-card [ngStyle]="{'background-color': n.color}" button class="gridcard" *ngFor="let n of notelist | searchfilter:searchterm">

    <div>

      <p style="font-size: 14px;padding-left: 5px; word-break: break-all;">

        {{ n.title }}

      </p>

      <p style="font-size: 14px;padding-left: 5px; word-break: break-all;">

        {{ n.takeANote }}

      </p>

      <p style="font-size: 5px;" [ngClass]="n.dateAndTime == 'undefined'  ? 'dateVisOff': 'dateVisOn' ">

        <mat-chip-list>

          <mat-chip mat-icon-button class="chips">

            <mat-icon>

              <img src="../../assets/img/fundoAssests/timer.svg " style="width:17px; height:17px;margin-bottom: 5px;" />

            </mat-icon>

            {{ n.dateAndTime }}

          </mat-chip>

        </mat-chip-list>

      </p>

    </div>

  </mat-card>

</div>