    .notetaker{

        margin-top: 10px;
        margin-left: 50px;
        box-shadow: 10px  ;
        border-radius: 100px ;
        width: 400px;
        height: 10px;
        border: 1px;
        border-color: black;
        border-width: 100px;
        padding-right: 314px;
        padding-left: 10px;
        font-size: 15px;
        border-radius: 100px ;

    }

    .mainmat {
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 8px 5px rgba(0,0,0,.12);
        margin-top: 38px;
        margin-left: 232px;
        margin-right: 300px;
        padding-right: 0px;
        padding-left: 23px;
        padding-top: 0px;
        padding-bottom: 10px;
        height: 44px;
        color:#7E858A;
        display: inline-block;
        font-family: 'Product Sans',Arial,sans-serif;
        font-size: 19px;
        line-height:  24px;
        position: relative;
        top: -1.5px;
        vertical-align: middle;
        width: 630px;

    }
    // .mat-card:not([class*=mat-elevation-z]) {

    //     // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 8px 5px rgba(0,0,0,.12);

    // }
    .inputtaker.mat-form-field-infix{

        padding-top: 0px;
        border-top-width: 5px;
        padding-bottom: 0px;

    }
    .mainmatdiv2{

        margin-top: 38px;
        margin-left: 115px;
        padding-right: 400px;
        padding-left: 23px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 120px;
        color:#7E858A;
        display: inline-block;
        font-family: 'Product Sans',Arial,sans-serif;
        font-size: 19px;
        line-height:  24px;
        padding-left: 8px;
        position: relative;
        top: -1.5px;
        vertical-align: middle;
    }

    element.style {

        margin-top: -24px;
        margin-bottom: 245px;
    }

    .notes {
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 8px 5px rgba(0,0,0,.12);
        transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
        display: block;
        position: relative;
        border-radius: 10px;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 40px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 630px;
        padding-top: 10px;
        padding-left: 27px;
        padding-right: 2px;
        padding-bottom: 13px;
        color:#7E858A;
        display: inline-block;
        font-family: 'Product Sans',Arial,sans-serif;
        font-size: 15px;
        right: 31px;

    }
    .gridcard{

        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 0px;
        padding-bottom: 33px;
        height: auto;

        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: 17px;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 8px 5px rgba(0,0,0,.12);
        cursor:  grab;
    } 
    .row{

        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 0px;
        margin-right: 30px;
        width: 230px;
        padding-left: 1px;
        padding-top: 1px;
        padding-bottom: 3px;
        padding-right: 1px;
        color:rgb(37, 37, 37);
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: 17px;
        border-color: #7E858A;
        border-radius: 10px;
    }

.commonClass{
position: fixed;
        // position: relative;
        // display: inline-block;
}


.pinned {
        // padding-top: 7px;	
        // padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        margin-left: 300px;
        // display: none;
}


    .column{

        margin-top: 15px;
        margin-bottom: 15px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 35px;
        padding-bottom: 5px;
        width: 550px;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        color:rgb(37, 37, 37);
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: 17px;
        border-color: #7E858A;
        border-radius: 10px;
    }
    .morerow{

        margin-right: 0px;
        margin-bottom: 13px;

    }
    .morecolumn{

        margin-right: 350px;
        margin-bottom: 13px;

    }
    .colorlens{

        width: 30px;
        height: 30px;
        margin: 5px;

    }
    .noteslist{

        margin-left: 250px;
        margin-top: 50px;
        width: 0px;
        height: 70px;
        display: inline-block;
        color:#7E858A;
        font-family: 'Product Sans',Arial,sans-serif;
        font-size: 15px;

    }
    .mat-form-field-infix{

        padding-top: 0px;
        border-top-width: 5px;
        padding-bottom: 0px;

    }
    .cardicon{

        color: rgb(87, 86, 86);

    }
    .cardmaticon{

        color: rgb(87, 86, 86);
        font-size: 10px;
        width: 30px;
        height: 3px;

    }
    .chips{

        height: 13px;
 
        border-radius: 30px;

        background-color:  rgba(0,0,0,0.08);
        font-family: 'Google Sans',Roboto,Arial,sans-serif;
        font-size: .6900rem;

        padding-left: 5px;
        padding-right: 5px;

        width: 180px;
        padding-bottom: 0px;
        padding-top: 0px;



    }
.icon{
    font-size: 20px;
     margin-bottom: 0px;
}
    .btnclose{
            margin-right: -3px;

    }
.notesImage{
    position: relative;
	display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.others{
    color: #5f6368;
    cursor: default;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .7500rem;
    font-weight: 500;
    line-height: 0rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
    transition: .3s ease;
}
.notesImageColumn{
    position: relative;
	display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 549px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.notesImageTitle{


    width: 580px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.notesImageColumn :hover .pinned{
    display: block;
    position: relative;
}
.notesImage :hover .pinned{
    display: block;
    position: relative;
}
    .dateVisOn{

        visibility: none;

    }
    .dateVisOff{

        visibility: hidden;

    }
.buttonDisplay{
            visibility: hidden;
        }
        .gridcard:hover .buttonDisplay, .buttonDisplay:hover{
    visibility: visible;;
        }
    .mat-dialog-container .custom-dialog-container {

    padding: 0px;
    }
