  .example-containerrr {
      width: 500px;
      height: 300px;
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    .example-sidenav-content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    
    .example-sidenav {
      padding: 5px;
    }
    .example-icon {
      padding: 0 14px;
      color: #5f6368;
      width:"24";
      height:"24";
      
    }
    .example-iconAccount {
      padding: 0 14px;
      color: #5f6368;
      width:30px;
      height:30px;
      font-size: 40px;
      padding-bottom: 15px;
      
    }
    .example-spacer {
      flex: 1 2 auto;
      color: gray;
      display: inline-block;
      font-family: 'Product Sans',Arial,sans-serif;
      font-size: 17px;
      line-height: 24px;
      padding-left: 8px;
      position: relative;
      top: -1.5px;
      vertical-align: middle;
    }
    .toolbarrow{
      height: 10px;
      margin-top: 0px;
      margin-right: 50px;
      margin-left: 10px;
      margin-bottom: 5px;
      width: 500px;
      border: 0px;
      
      background: #F5F5F5;


    }
    .outertoolbar{

      top: 0; 
      z-index: 1000; 
      background: white;
      border: gray;
      border-width: 10px;
      direction: ltr;
      height: 55px;

    }
    .header{
        padding: 8px;
    }
    .title{
      color: #5f6368;
      display: inline-block;
      font-family: 'Product Sans',Arial,sans-serif;
      font-size: 22px;
      line-height: 24px;
      padding-left: 8px;
      position: relative;
      top: -1.5px;
      vertical-align: middle;
      margin-left: -60px;
      margin-right: 50px;
    }
    .spacertitle{
      color: #5f6368;
      display: inline-block;
      font-family: 'Product Sans',Arial,sans-serif;
      font-size: 22px;
      line-height: 24px;
      padding-left: 8px;
      position: relative;
      top: -1.5px;
      vertical-align: middle;
    }
    .example-container {
    //  width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       position: absolute;
      // margin-top: 0px;
      // margin-left: -20px;
      background: white;
      width: -webkit-fill-available;
      
      top: 15%;
      left: 0%; 
      // right: 100%;
      // bottom: 50%;
      // -webkit-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%); 

    }
  .keepimage{
    width: 40px;
    height: 50px;
    margin: 10px;
  }
  .selectorbutton{
    margin: 0px;
    width: 400px;
    height: 100px;
    padding-left: 32px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

  
  }
  .sidebutton{
    margin: 0px;
    width: 250px;
    height: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color:black;
    background-color:white;
  
  }
  .menubutton{
    width: 5px;
    padding-left: 0px;
  }
  .profilebutton{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding-left: 0px; 
  }
  // mat-nav-list{
  //   border:none;
  // }
  mat-sidenav-container{
    border:none;
  }
  mat-sidenav{
    width: 300px;
    border:none;
  }
  mat-toolbar{
   box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }
  // .searchbox{
  //   width: 550px;
  //   border:none;
  //   height: 50px;
  //   margin-top: 0px;
  //   margin-right: 50px;
  //   margin-left: 10px;
  //   margin-bottom: 5px;
  // }
  .searchbar {
    background: transparent;
    border: none;
    height: 20px;
    outline-color: opacify($color:white, $amount: -0);
    padding: 11px 16px 11px 68px;
    width: 772px;
    margin-left: -39px;
    background-color: white;
    background: #F0F3F4;
    
    font: normal 16px Roboto, sans-serif;
    font-size: 15px;
    font-display:padding-left;
    font-variant-ligatures: none;

    margin-right: 54px;
  }
  .label{
    color: #5f6368;
    cursor: default;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 0rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
  }
  .spantext{
    font-size: 15px;
    font-size-adjust: length($list: 5px);
    font-family:  'Roboto',Arial,sans-serif;
    // font-weight: bolder;
    padding-left: 32px;
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      width: 176px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
  }
  .content{
    width: 1336px;
    height: 100%;
  }
  .is-active{
    background-color: #FFEDC4;
  }
  .mat-drawer-inner-container{

    overflow: hidden;
  }
  .profilepic{
    width: 40px;
    height: 40px;
    border-radius: 50px;

  }
  .insideprofilepic{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 15px;

  }
  .firstname{
 margin-left: 110px;
 margin-top: -66px;
 margin-right: 10px;
 font-size: 15px;
 margin-bottom: 0px;
 font-family: 'Product Sans',Arial,sans-serif;
  }
  .email{
margin-left: 110px;
margin-right: 10px;
color: #5f6368;
font-size: 13px;
margin-top: 0px;
margin-bottom: 25px;
font-family: 'Product Sans',Arial,sans-serif;
  }