<div>
  <mat-toolbar class="outertoolbar" color="white" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayoutGap="10px" style="margin-left:20px;" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button matTooltip="Min Menu" class="menubutton" (click)="drawer.toggle()">
        <mat-icon class="example-icon">menu</mat-icon>
      </button>
      <mat-icon class="keepimage" fxLayout="row" fxLayoutAlign="center center"><img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" /></mat-icon>
      <span class="title" fxLayout="row" fxLayoutAlign="center center">Fundoo</span>
    </div>
    <button mat-icon-button matTooltip="Search" style="margin-left: 120px;" (click)="sendSearchData()" class="searchicon">

      <mat-icon class="example-icon">search</mat-icon>
    </button>
    <input class="searchbar" appearance="null" type="text" placeholder="Search" />


    <!-- <div fxLayoutGap="1px" style="margin-left:100px; font-size:30px;"> -->
    <mat-icon matTooltip="Refresh" class="example-icon">refresh</mat-icon>

    <button mat-icon-button *ngIf="list" (click)="changeView()" style="border:none ; background-color: white;">
      <mat-icon matTooltip="Grid List" *ngIf="!grid" class="example-icon"><img src="../../assets/img/fundoAssests/menu-grid.svg"
          style="color: grey;margin-top: -30px;" /></mat-icon>
    </button>

    <button mat-icon-button *ngIf="grid" (click)="changeView()" style="border:none ; background-color: white;">

      <mat-icon matTooltip="View_agenda" *ngIf="grid" class="example-icon"><img src="../../assets/img/fundoAssests/outline-view_agenda-24px.svg"
          style="color: grey;margin-top: -30px;" /></mat-icon>
    </button>



    <button [matMenuTriggerFor]="settings" style="border:none ; background-color: white;">
      <mat-icon matTooltip="Settings" class="example-icon">settings</mat-icon>
    </button>
    <mat-menu [overlapTrigger]="false" #settings="matMenu">
      <button mat-menu-item (click)="tomorrow(01)">Settings</button>
      <button mat-menu-item (click)="nextWeek(01)">Send feedback</button>
      <button mat-menu-item (click)="nextWeek(01)">Help
      </button>
      <button mat-menu-item (click)="nextWeek(01)">App downloads
      </button>
      <button mat-menu-item (click)="nextWeek(01)">Keyboard shortcuts
      </button>
    </mat-menu>
    <!-- </div> -->
    <br>
    <span class="example-spacer"></span>
    <div fxLayoutGap="10px" style="margin-left:50px;" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-icon matTooltip="Google Apps" style="font-size: 25px;    color: rgb(104, 101, 101);">apps</mat-icon>
      <button mat-button class="menubutton" [matMenuTriggerFor]="menu">
        <mat-icon matTooltip="Google Account" class="example-iconAccount">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div fxLayout="row" fxLayoutGap="10px">
          <div>
            <label>chandra1996jh@gmail.com </label>
          </div>
          
            <mat-divider></mat-divider>
            <div>
            <button appearance="null" mat-menu-item (click)="logout()">Add Account</button>
            <button appearance="null" mat-menu-item (click)="logout()">Sign out</button>
          </div>
        </div>
      </mat-menu>


    </div>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-sidenav-container class="example-container" autosize fxLayout="row" fxLayoutAlign="start none">
    <mat-sidenav #drawer mode="side">
      <mat-nav-list>
        <a class="selectorbutton" mat-list-item [routerLink]="['notes']" [routerLinkActive]="['is-active']">
          <mat-icon class="example-icon">lightbulb_outline</mat-icon>
          <span class="spantext">Notes</span>
        </a>
        <a class="selectorbutton" mat-list-item [routerLink]="['reminder']" [routerLinkActive]="['is-active']">
          <mat-icon class="example-icon">notifications_none</mat-icon>
          <span class="spantext">Reminder</span>
        </a>
        <mat-divider></mat-divider>
        <br>
        <label fxLayout="row" class="label">Labels</label>
        <a class="selectorbutton" mat-list-item routerLink="/about" class="selectorbutton" [routerLinkActive]="['is-active']">
          <mat-icon class="example-icon">edit</mat-icon>
          <span class="spantext">Edit Labels</span>
        </a>
        <br>
        <mat-divider></mat-divider>
        <a class="selectorbutton" mat-list-item routerLink="/about" class="selectorbutton" [routerLinkActive]="['is-active']">
          <mat-icon class="example-icon">archive</mat-icon>
          <span class="spantext">Archive</span>
        </a>
        <a class="selectorbutton" mat-list-item routerLink="/about" class="selectorbutton" [routerLinkActive]="['is-active']">
          <mat-icon class="example-icon">delete</mat-icon>
          <span class="spantext">Bin</span>
        </a>
      </mat-nav-list>
      <label style="margin-top:10px;">Privacy · Terms</label>
      <br>
      <label>Open-source licences</label>
    </mat-sidenav>
    <mat-sidenav-content div fxLayout="column" fxLayoutAlign="start center" style="width: 1300px; ">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>