<div fxLayout="row" fxLayoutAlign="center center" height="100vh">

  <mat-card fxFlex="30" fxFlex.sm="30" fxFlex.xs="100">
    <br>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title font-size="35px" font-family="fantasy" color="primary">F U N D O O</mat-card-title>
      <mat-card-subtitle font-size="15px" font-family="fantasy">Account recovery</mat-card-subtitle>


      <mat-form-field appearance="outline" fxLayout="column" fxLayoutAlign="center center">
        <mat-label>Email-id</mat-label>
        <input matInput placeholder="enter email id" [formControl]="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>*use only email format</mat-hint>
        <mat-error *ngIf="email.hasError('required')">*Email-id is mandatory</mat-error>
        <mat-error *ngIf="email.hasError('email')">*Email-id format is not correct</mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div >
        <button mat-raised-button color="primary" (click)="forgotPassword ()">Submit</button>
      </div>
      </div>

    </div>
  </mat-card>

</div>