<div fxLayout="row" fxLayoutAlign="center center" height="100vh">

  <mat-card fxFlex="30" fxFlex.sm="30" fxFlex.xs="100">

    <br>

    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-card-title font-size="35px" font-family="fantasy" color="primary">F U N D O O</mat-card-title>

      <mat-card-subtitle font-size="15px" font-family="fantasy">Login Page</mat-card-subtitle>

      <mat-form-field appearance="outline" fxLayout="column" fxLayoutAlign="center center">

        <mat-label>Email-id</mat-label>

        <input matInput placeholder="enter email id" [formControl]="email" required>

        <mat-icon matSuffix>email</mat-icon>

        <mat-hint>*use only email format</mat-hint>

        <mat-error *ngIf="email.hasError('required')">*Email-id is mandatory</mat-error>

        <mat-error *ngIf="email.hasError('email')">*Email-id format is not correct</mat-error>

      </mat-form-field>


      <mat-form-field appearance="outline" fxLayout="column" fxLayoutAlign="center center">

        <mat-label>Password</mat-label>

        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        <input matInput placeholder="enter Password" [formControl]="password" required [type]="hide ? 'password' : 'text'">

        <mat-error *ngIf="password.hasError('required')">*Password is mandatory</mat-error>

      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

      <a mat-button color="primary" routerLink="../forgotPassword">Forgot Password?</a>

    </div>

    <br>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" style="margin-bottom:15px;">

      <button mat-raised-button [disabled]='email.required ||email.email || password.required' color="primary" (click)="login ()">Signin</button>

      <br>

      <a mat-button color="primary" routerLink="../register">Create new Account</a>

    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-bottom:15px;">

      <a class="signin">or sign in with</a>

    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">


      <button mat-raised-button (click)="usingSocialSignIn('google')">

        <div fxLayoutGap="15px">

          <mat-icon>
            
            <img src="../../assets/img/login/google.svg">
          
          </mat-icon>

          <span>Google</span>

        </div>

      </button>

      <button color="primary" mat-raised-button (click)="usingSocialSignIn('facebook')">

        <div fxLayoutGap="15px">

          <mat-icon>
            
            <img src="../../assets/img/login/fb.svg" style="width: 25px; height: 25px;">
          
          </mat-icon>
          
          <span>facebook</span>

        </div>

      </button>

      <button mat-raised-button (click)="usingSocialSignIn('twitter')">

        <div fxLayoutGap="15px">

          <mat-icon>
            
            <img src="../../assets/img/login/twitter.svg" style="width: 25px; height: 25px;">
          
          </mat-icon>

          <span>twitter</span>

        </div>
        
      </button>

    </div>

  </mat-card>

</div>