
.card{
    margin: 50px;
    width: 30%;
   border: 1px solid gray;
   
}
.Loginbutton{
    border: 1px solid gray;
    
}
.Registerbutton{
    border: 1px solid gray;
    
}
mat-card{
    margin-top: 8%;
    border-width: 100%;
}