<div fxLayout="row" fxLayoutAlign="center center" height="100vh">

  <mat-card fxFlex="30" fxFlex.sm="30" fxFlex.xs="100">
    <br>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title font-size="35px" font-family="fantasy" color="primary">F U N D O O</mat-card-title>
      <mat-card-subtitle font-size="15px" font-family="fantasy">Account recovery</mat-card-subtitle>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput placeholder="enter Password " [formControl]="password" required [type]="hide ? 'password' : 'text'">
          <mat-hint>*Use 8 or more characters </mat-hint>
          <mat-error *ngIf="password.hasError('required')">*Password is mandatory</mat-error>
          <mat-error *ngIf="password.hasError('minLength')">*Password should be of minLength 5</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput placeholder="enter confirmpassword " [formControl]="confirmpassword" required [type]="hide ? 'password' : 'text'">
          <mat-hint>*Use 8 or more characters </mat-hint>

          <mat-error *ngIf="confirmpassword.hasError('required')">*Confirm Password is mandatory</mat-error>
          <mat-error *ngIf="confirmpassword.hasError('minLength')">*Confirm Password should be of minLength 5</mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button mat-raised-button color="primary" routerLink="../dashboard">Signin</button>
      </div>

    </div>
  </mat-card>

</div>